
    <div class="container-xxl bg-white p-0 test">
        <!-- Navbar & Hero Start -->
        <app-navbar></app-navbar>
        <!-- Navbar & Hero End -->

        <!-- Feature Start -->
        <app-feature></app-feature>
        <!-- Feature End -->

        <!-- About Start -->
        <app-about></app-about>
        <!-- About End -->


        <!-- Facts Start -->
        <app-facts></app-facts>
        <!-- Facts End -->


        <!-- Service Start -->
        <app-service></app-service>
        <!-- Service End -->


        <!-- Newsletter Start -->
        <app-newsletter></app-newsletter>
        <!-- Newsletter End -->


        <!-- Projects Start -->
        <app-projects></app-projects>
        <!-- Projects End -->


        <!-- Testimonial Start -->
        <app-testimonial></app-testimonial>
        <!-- Testimonial End -->


        <!-- Team Start -->
        <app-team></app-team>
        <!-- Team End -->
        
        <app-contact></app-contact>
        <!-- Footer Start -->
        <app-footer></app-footer>
        <!-- Footer End -->
        


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg  btn-lg-square back-to-top" id="couleur1"><i class="bi bi-arrow-up"></i></a>
    </div>

*
  
