.flex-item {
    margin: 0px;
    padding: 0px;
    border: 1px solid #ddd;
}

.testimonial-carousel{
    width: 100%;
}

.container-xxl {
    max-width: 100% !important;
    height: 100% !important;
}