<div class="container-xxl py-5 position-relative">
  <div class="container py-5 px-lg-5 position-relative">
    <div class="wow fadeInUp" data-wow-delay="0.1s">
      <p class="section-title text-secondary justify-content-center">
        <span></span><span id="couleur">Our project awaits the application of your valuable skills! </span><span></span>
      </p>
      <h1 class="text-center mb-5">Apply Now ! </h1>
    </div>
    <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
      <div class="col-12 text-center">
        <!-- Your button or content here -->
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div id="search-autocomplete" class="form-outline" data-mdb-input-init>
        <input 
          #searchkeyword
          (keyup)="searchByKeyword(searchkeyword.value)"
          type="search" id="form1" class="form-control"
          matInput name="searchKey" id="searchKey" placeholder="Search project "
          style="width: 300px;"> 
      </div>
      <button type="button" class="btn btn-primary rounded-pill py-2 px-4 ms-3 d-none d-lg-block" id="navbarcouleur" data-mdb-ripple-init>
        <i class="fas fa-search"></i>
      </button>
    </div>
  
    <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
      <div class="col-12 text-center">
      </div>
    </div>
   
      <div class="row g-4" *ngFor="let project of projectDetails">
        <ng-container>
          <div class="col-lg-4 col-md-6 portfolio-item second  wow fadeInUp" data-wow-delay="0.1s">
            <div class="rounded overflow-hidden">
              <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" [src]="project.projectImages[0].url" alt="">
                <div class="portfolio-overlay">
                  <a class="btn btn-square btn-outline-light mx-1" href='' data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                  <button class="btn btn-square btn-outline-light mx-1" (click)="postuler(project.projectId)"><i class="fa fa-trash"></i></button>
                </div>
              </div>
              <div class="bg-light p-4">
                <p class="text-primary fw-medium mb-2">{{ project.projectName}}</p>
                <p class="text-primary fw-medium mb-2">{{ project.projectCreated}}</p>
                <h5 class="lh-base mb-0">{{ project.projectDescription }}</h5>
                <div class="portfolio-overlay">
                  <a class="btn btn-square btn-outline-light mx-1" href='' data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                  <button class="btn btn-square btn-outline-light mx-1" (click)="postuler(project.projectId)"><i class="fa fa-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
  </div>
</div>
