
<div class="container-xxl py-5 position-relative">
    <div class="container py-5 px-lg-5 position-relative">
        <div class="wow fadeInUp" data-wow-delay="0.1s"*ngIf="isNewProject">
            <p class="section-title text-secondary justify-content-center"><span></span>Add a Project<span></span></p>
            <h1 class="text-center mb-5">Create a New Project</h1>
        </div>
     
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <form #projectForm="ngForm" (ngSubmit)="addProject(projectForm)">
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                     
                                    </span>
                                    <input  class="form-control" placeholder="Project Name" [ngModel]="project.projectName" (ngModelChange)="project.projectName = $event" name="projectName">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                  
                                    </span>
                                    <input matInput class="form-control" placeholder="Project Description" [ngModel]="project.projectDescription" (ngModelChange)="project.projectDescription = $event" name="projectDescription">
                                </div>
                            </div>
                          
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                    
                                    </span>
                                    <input class="form-control" placeholder="Project Domain" [ngModel]="project.projectDomain || ''" (ngModelChange)="project.projectDomain = $event" name="projectDomain">
                 
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                  
                                    </span>
                                    <input  class="form-control" placeholder="Project Duration" [ngModel]="project.projectDuration || ''" (ngModelChange)="project.projectDuration = $event" name="projectDuration">
                 
                                </div>
                            </div>
                          
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                     
                                    </span>
                                    <input  class="form-control" placeholder="Project Technology" [ngModel]="project.projectTechnology || ''" (ngModelChange)="project.projectTechnology= $event" name="projectTechnology">
                 
                                </div>
                            </div>
                            <div></div>
                         
                            <div class="col-6">
                                <div>
                
                                    <div class="dropzone"
                                    appDrag 
                                    (files) = "fileDropped($event)">
                                        <div class="text-wrapper">
                                            <div class="center">Drag and Drop your Img or 
                                                <a (click)="selectFile.click()" style="color:blueviolet;
                                                font-weight: 800;
                                                cursor: pointer;">Browse</a>  a Img</div>
                                            </div>
                                    </div>
                
                                    <input type="file" style="display: none;" #selectFile (change)="onFileSelected($event)">
                                </div>
                                <div class="mt-5">
                                    <div class="row">
                                        <div cols="4" rowHeight="1:1">
                                            <div *ngFor="let file of project.projectImages; let i = index;">
                                                <div style="position: relative">
                                                    <span class="btn-remove-image" (click)="removeImages(i)">X</span>
                                                    <img [src]="file.url" width="100px" height="100px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                           
                            <div class="col-12 mt-2 text-center">
                                <button class="btn py-sm-3 px-sm-5 rounded-pill mt-3 w-100 py-3" id="navbarcouleur" style="color: white;" type="submit" *ngIf="isNewProject">Add Project</button>
                               
                            </div>
                        </div>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
</div>
