<div class="container-xxl py-5 wow fadeInUp " data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
        <p class="section-title text-secondary justify-content-center"><span></span><span id="couleur">Testimonial</span><span></span></p>
        <h1 class="text-center mb-5">What Say Our Clients!</h1>
        <div class="testimonial-carousel col-lg-6 col-md-6 d-flex portfolio-item first wow fadeInUp  ">
            <div class="row g-4">
         
           
            
            <div class="col-lg-3 col-md-4 wow fadeInUp" style="margin-right: 10px;">
                <p class="fs-5"><i class="fa fa-quote-left fa-4x mt-n4 me-3" id="icone"></i>Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit sed stet lorem sit clita duo justo.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-1.jpg" style="width: 65px; height: 65px;">
                    <div class="ps-4">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-4 wow fadeInUp" style="margin-right: 10px;">
                <p class="fs-5"><i class="fa fa-quote-left fa-4x mt-n4 me-3" id="icone"></i>Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit sed stet lorem sit clita duo justo.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-1.jpg" style="width: 65px; height: 65px;">
                    <div class="ps-4">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-4 wow fadeInUp" style="margin-right: 10px;">
                <p class="fs-5"><i class="fa fa-quote-left fa-4x mt-n4 me-3" id="icone"></i>Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit sed stet lorem sit clita duo justo.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-1.jpg" style="width: 65px; height: 65px;">
                    <div class="ps-4">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-4 wow fadeInUp" style="margin-right: 10px;">
                <p class="fs-5"><i class="fa fa-quote-left fa-4x mt-n4 me-3" id="icone"></i>Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit sed stet lorem sit clita duo justo.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-1.jpg" style="width: 65px; height: 65px;">
                    <div class="ps-4">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-4 wow fadeInUp" style="margin-right: 10px;">
                <p class="fs-5"><i class="fa fa-quote-left fa-4x mt-n4 me-3" id="icone"></i>Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit sed stet lorem sit clita duo justo.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-1.jpg" style="width: 65px; height: 65px;">
                    <div class="ps-4">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 wow fadeInUp" style="margin-right: 10px;">
                <p class="fs-5"><i class="fa fa-quote-left fa-4x mt-n4 me-3" id="icone"></i>Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit sed stet lorem sit clita duo justo.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-1.jpg" style="width: 65px; height: 65px;">
                    <div class="ps-4">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
         
            </div>
        </div>
    </div>
</div>